<a href="https://colab.research.google.com/github/p65454/ds-section1-sprint1-new/blob/main/n111a_EDA(1)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# üìù Assignment

# 1. Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞ Î∞è ÌôïÏù∏ 

- Îã§Ïùå urlÏóêÏÑú ÏóëÏÖÄ ÌååÏùºÏùÑ Î∂àÎü¨Ïò§ÏÑ∏Ïöî. (pandas excel) 
  - https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx
  - ÌååÏùºÏùÄ 2Í∞úÏùò ÏãúÌä∏Î°ú Íµ¨ÏÑ±ÎêòÏñ¥ ÏûàÏúºÎ©∞ Í∞ÅÍ∞Å Ïù¥Î¶ÑÏùÄ 008770, 035250 ÏûÖÎãàÎã§.

- Îç∞Ïù¥ÌÑ∞ÏÖã Î≥ÄÏàòÏùò Ïù¥Î¶ÑÏùÄ df1, df2Î°ú Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

- rowÍ∞Ä ÏïÑÎãå columnÏóê 'Îß§Ï∂úÏï°', 'ÏòÅÏóÖÏù¥Ïùµ' Ïù¥ Í∞ÄÎèÑÎ°ù Îç∞Ïù¥ÌÑ∞Î•º transpose ÌïòÏÑ∏Ïöî.

- Ïù¥ÌõÑ ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ Ï≤´Î≤àÏß∏ rowÎ•º column nameÏúºÎ°ú ÏÑ§Ï†ïÌïòÏÑ∏Ïöî. <br>
  https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row

- Îç∞Ïù¥ÌÑ∞Ïùò dimensionÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.

- Îç∞Ïù¥ÌÑ∞Ïùò Í≤∞Ï∏°ÏπòÍ∞Ä Ïñ¥ÎîîÏóê ÏûàÎäîÏßÄ ÌôïÏù∏ ÌõÑ 0ÏúºÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî.

- ÏùΩÏóàÎçò ÏóëÏÖÄ ÌååÏùºÏùò ÎÇ¥Ïö©ÏùÑ 2Í∞úÏùò csvÎ°ú Í∞ÅÍ∞Å Ï∂úÎ†•ÌïòÏÑ∏Ïöî. (python export csv) 
  - Ïù¥Î¶ÑÏùÄ Í∞ÅÍ∞Å df1.csv, df2.csv ÏûÖÎãàÎã§.

In [26]:
import pandas as pd

In [6]:
from google.colab import files
uploaded = files.upload()

Saving Travel.xlsx to Travel.xlsx

In [38]:
df1 = pd.read_excel('Travel.xlsx', sheet_name = 0)
df2 = pd.read_excel('Travel.xlsx', sheet_name = 1)
df1.head()

,Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,2019/09\n(IFRSÏó∞Í≤∞),2019/12\n(IFRSÏó∞Í≤∞),2020/03\n(IFRSÏó∞Í≤∞),2020/06\n(IFRSÏó∞Í≤∞),2020/09\n(IFRSÏó∞Í≤∞),2020/12(E)\n(IFRSÏó∞Í≤∞),2021/03(E)\n(IFRSÏó∞Í≤∞),2021/06(E)\n(IFRSÏó∞Í≤∞)
0,Îß§Ï∂úÏï°,14753.0,15440.0,9437.0,5230.0,8795.0,9980.0,9761.0,9820.0
1,ÏòÅÏóÖÏù¥Ïùµ,574.0,776.0,-668.0,-634.0,-198.0,50.0,144.0,265.0
2,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),574.0,776.0,-668.0,-634.0,-198.0,NaN,NaN,NaN
3,ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,376.0,538.0,-925.0,-819.0,-366.0,-109.0,14.0,172.0
4,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,274.0,380.0,-736.0,-677.0,-285.0,-100.0,71.0,214.0

In [39]:
df2.head()

,Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,2019/09\n(IFRSÏó∞Í≤∞),2019/12\n(IFRSÏó∞Í≤∞),2020/03\n(IFRSÏó∞Í≤∞),2020/06\n(IFRSÏó∞Í≤∞),2020/09\n(IFRSÏó∞Í≤∞),2020/12(E)\n(IFRSÏó∞Í≤∞),2021/03(E)\n(IFRSÏó∞Í≤∞),2021/06(E)\n(IFRSÏó∞Í≤∞)
0,Îß§Ï∂úÏï°,4055.0,3728.0,2360.0,346.0,766.0,1581.0,1473.0,1746.0
1,ÏòÅÏóÖÏù¥Ïùµ,1392.0,641.0,-1868.0,-1038.0,-649.0,-434.0,-187.0,-65.0
2,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),1392.0,641.0,-1868.0,-1038.0,-649.0,NaN,NaN,NaN
3,ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,1554.0,769.0,-2204.0,-723.0,-552.0,-331.0,NaN,NaN
4,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,1286.0,526.0,-1561.0,-456.0,-409.0,-465.0,NaN,NaN

In [40]:
df1 = df1.transpose()
df2 = df2.transpose()

In [41]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),14753.0,574.0,574.0,376.0,274.0,277.0,-3.0,37747.0,28854.0,8893.0,...,3.62,324.45,395.1,692.0,31.19,23484.0,3.67,0.0,NaN,0.0
2019/12\n(IFRSÏó∞Í≤∞),15440.0,776.0,776.0,538.0,380.0,380.0,0.0,35273.0,26077.0,9195.0,...,5.81,283.59,411.78,950.0,21.4,24282.0,3.74,350.0,NaN,34.94
2020/03\n(IFRSÏó∞Í≤∞),9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.0,33188.0,24813.0,8375.0,...,1.25,296.28,368.36,-1839.0,63.76,22114.0,3.19,NaN,NaN,0.0
2020/06\n(IFRSÏó∞Í≤∞),5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.0,33039.0,25364.0,7676.0,...,-2.14,330.45,334.46,-1695.0,NaN,20265.0,3.5,NaN,NaN,0.0

In [42]:
new_header = df1.iloc[0]
df1 = df1[1:]
df1.columns = new_header
df1.head()

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),14753.0,574.0,574.0,376.0,274.0,277.0,-3.0,37747.0,28854.0,8893.0,...,3.62,324.45,395.1,692.0,31.19,23484.0,3.67,0.0,NaN,0.0
2019/12\n(IFRSÏó∞Í≤∞),15440.0,776.0,776.0,538.0,380.0,380.0,0.0,35273.0,26077.0,9195.0,...,5.81,283.59,411.78,950.0,21.4,24282.0,3.74,350.0,NaN,34.94
2020/03\n(IFRSÏó∞Í≤∞),9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.0,33188.0,24813.0,8375.0,...,1.25,296.28,368.36,-1839.0,63.76,22114.0,3.19,NaN,NaN,0.0
2020/06\n(IFRSÏó∞Í≤∞),5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.0,33039.0,25364.0,7676.0,...,-2.14,330.45,334.46,-1695.0,NaN,20265.0,3.5,NaN,NaN,0.0
2020/09\n(IFRSÏó∞Í≤∞),8795.0,-198.0,-198.0,-366.0,-285.0,-285.0,0.0,32683.0,25318.0,7365.0,...,-3.74,343.77,320.21,-712.0,NaN,19444.0,3.91,NaN,NaN,NaN

In [43]:
new_header = df2.iloc[0]
df2 = df2[1:]
df2.columns = new_header
df2.head()

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),4055.0,1392.0,1392.0,1554.0,1286.0,1286.0,0.0,41698.0,4781.0,36917.0,...,7.2,12.95,3513.86,601.0,21.0,18209.0,1.62,0.0,NaN,0.0
2019/12\n(IFRSÏó∞Í≤∞),3728.0,641.0,641.0,769.0,526.0,526.0,0.0,44381.0,7204.0,37178.0,...,7.72,19.38,3538.24,246.0,18.92,18337.0,1.61,900.0,NaN,346.75
2020/03\n(IFRSÏó∞Í≤∞),2360.0,-1868.0,-1868.0,-2204.0,-1561.0,-1561.0,0.0,43702.0,9945.0,33757.0,...,1.75,29.46,3218.48,-730.0,55.53,16650.0,1.19,NaN,NaN,NaN
2020/06\n(IFRSÏó∞Í≤∞),346.0,-1038.0,-1038.0,-723.0,-456.0,-456.0,0.0,39178.0,5900.0,33277.0,...,-0.5,17.73,3173.64,-213.0,NaN,16414.0,1.31,NaN,NaN,0.0
2020/09\n(IFRSÏó∞Í≤∞),766.0,-649.0,-649.0,-552.0,-409.0,-409.0,0.0,37434.0,4560.0,32875.0,...,-4.8,13.87,3136.0,-191.0,NaN,16215.0,1.33,NaN,NaN,NaN

In [44]:
print(df1.shape)
print(df2.shape)

(8, 32)
(8, 32)

In [45]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 2019/09
(IFRSÏó∞Í≤∞) to 2021/06(E)
(IFRSÏó∞Í≤∞)
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Îß§Ï∂úÏï°         8 non-null      object
 1   ÏòÅÏóÖÏù¥Ïùµ        8 non-null      object
 2   ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä)  5 non-null      object
 3   ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ    8 non-null      object
 4   ÎãπÍ∏∞ÏàúÏù¥Ïùµ       8 non-null      object
 5   ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞)   8 non-null      object
 6   ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞)  5 non-null      object
 7   ÏûêÏÇ∞Ï¥ùÍ≥Ñ        6 non-null      object
 8   Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ        6 non-null      object
 9   ÏûêÎ≥∏Ï¥ùÍ≥Ñ        6 non-null      object
 10  ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÏßÄÎ∞∞)    6 non-null      object
 11  ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÎπÑÏßÄÎ∞∞)   5 non-null      object
 12  ÏûêÎ≥∏Í∏à         6 non-null      object
 13  ÏòÅÏóÖÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ    5 non-null      object
 14  Ìà¨ÏûêÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ    5 non-null      object
 15  Ïû¨Î¨¥ÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ    5 non-null      object
 16  CAPEX       5 non-null      object
 17  FCF         5 non-null      object
 18  Ïù¥ÏûêÎ∞úÏÉùÎ∂ÄÏ±Ñ      5 non-null      object
 19  ÏòÅÏóÖÏù¥ÏùµÎ•†       8 non-null      object
 20  ÏàúÏù¥ÏùµÎ•†        8 non-null      object
 21  ROE(%)      5 non-null      object
 22  ROA(%)      5 non-null      object
 23  Î∂ÄÏ±ÑÎπÑÏú®        6 non-null      object
 24  ÏûêÎ≥∏Ïú†Î≥¥Ïú®       5 non-null      object
 25  EPS(Ïõê)      8 non-null      object
 26  PER(Î∞∞)      3 non-null      object
 27  BPS(Ïõê)      6 non-null      object
 28  PBR(Î∞∞)      6 non-null      object
 29  ÌòÑÍ∏àDPS(Ïõê)    2 non-null      object
 30  ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†     0 non-null      object
 31  ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)   4 non-null      object
dtypes: object(32)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 2019/09
(IFRSÏó∞Í≤∞) to 2021/06(E)
(IFRSÏó∞Í≤∞)
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Îß§Ï∂úÏï°         8 non-null      object
 1   ÏòÅÏóÖÏù¥Ïùµ        8 non-null      object
 2   ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä)  5 non-null      object
 3   ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ    6 non-null      object
 4   ÎãπÍ∏∞ÏàúÏù¥Ïùµ       6 non-null      object
 5   ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞)   8 non-null      object
 6   ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞)  5 non-null      object
 7   ÏûêÏÇ∞Ï¥ùÍ≥Ñ        6 non-null      object
 8   Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ        6 non-null      object
 9   ÏûêÎ≥∏Ï¥ùÍ≥Ñ        6 non-null      object
 10  ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÏßÄÎ∞∞)    6 non-null      object
 11  ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÎπÑÏßÄÎ∞∞)   2 non-null      object
 12  ÏûêÎ≥∏Í∏à         6 non-null      object
 13  ÏòÅÏóÖÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ    5 non-null      object
 14  Ìà¨ÏûêÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ    5 non-null      object
 15  Ïû¨Î¨¥ÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ    5 non-null      object
 16  CAPEX       5 non-null      object
 17  FCF         5 non-null      object
 18  Ïù¥ÏûêÎ∞úÏÉùÎ∂ÄÏ±Ñ      5 non-null      object
 19  ÏòÅÏóÖÏù¥ÏùµÎ•†       8 non-null      object
 20  ÏàúÏù¥ÏùµÎ•†        6 non-null      object
 21  ROE(%)      5 non-null      object
 22  ROA(%)      5 non-null      object
 23  Î∂ÄÏ±ÑÎπÑÏú®        6 non-null      object
 24  ÏûêÎ≥∏Ïú†Î≥¥Ïú®       5 non-null      object
 25  EPS(Ïõê)      8 non-null      object
 26  PER(Î∞∞)      3 non-null      object
 27  BPS(Ïõê)      6 non-null      object
 28  PBR(Î∞∞)      6 non-null      object
 29  ÌòÑÍ∏àDPS(Ïõê)    2 non-null      object
 30  ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†     0 non-null      object
 31  ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)   3 non-null      object
dtypes: object(32)
memory usage: 2.1+ KB

In [46]:
df1.isnull()
df2.isnull()

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2019/12\n(IFRSÏó∞Í≤∞),False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2020/03\n(IFRSÏó∞Í≤∞),False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
2020/06\n(IFRSÏó∞Í≤∞),False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,False
2020/09\n(IFRSÏó∞Í≤∞),False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,True
2020/12(E)\n(IFRSÏó∞Í≤∞),False,False,True,False,False,False,True,False,False,False,...,True,False,True,False,True,False,False,True,True,True
2021/03(E)\n(IFRSÏó∞Í≤∞),False,False,True,True,True,False,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
2021/06(E)\n(IFRSÏó∞Í≤∞),False,False,True,True,True,False,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True

In [47]:
df1.fillna(0)
df2.fillna(0)

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),4055.0,1392.0,1392.0,1554.0,1286.0,1286.0,0.0,41698.0,4781.0,36917.0,...,7.20,12.95,3513.86,601.0,21.00,18209.0,1.62,0.0,0,0.00
2019/12\n(IFRSÏó∞Í≤∞),3728.0,641.0,641.0,769.0,526.0,526.0,0.0,44381.0,7204.0,37178.0,...,7.72,19.38,3538.24,246.0,18.92,18337.0,1.61,900.0,0,346.75
2020/03\n(IFRSÏó∞Í≤∞),2360.0,-1868.0,-1868.0,-2204.0,-1561.0,-1561.0,0.0,43702.0,9945.0,33757.0,...,1.75,29.46,3218.48,-730.0,55.53,16650.0,1.19,0.0,0,0.00
2020/06\n(IFRSÏó∞Í≤∞),346.0,-1038.0,-1038.0,-723.0,-456.0,-456.0,0.0,39178.0,5900.0,33277.0,...,-0.50,17.73,3173.64,-213.0,0.00,16414.0,1.31,0.0,0,0.00
2020/09\n(IFRSÏó∞Í≤∞),766.0,-649.0,-649.0,-552.0,-409.0,-409.0,0.0,37434.0,4560.0,32875.0,...,-4.80,13.87,3136.00,-191.0,0.00,16215.0,1.33,0.0,0,0.00
2020/12(E)\n(IFRSÏó∞Í≤∞),1581.0,-434.0,0.0,-331.0,-465.0,-314.0,0.0,38271.0,5998.0,32274.0,...,0.00,18.58,0.00,-147.0,0.00,15888.0,1.46,0.0,0,0.00
2021/03(E)\n(IFRSÏó∞Í≤∞),1473.0,-187.0,0.0,0.0,0.0,-33.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,-15.0,0.00,0.0,0.00,0.0,0,0.00
2021/06(E)\n(IFRSÏó∞Í≤∞),1746.0,-65.0,0.0,0.0,0.0,135.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,63.0,0.00,0.0,0.00,0.0,0,0.00

In [48]:
df1.to_csv("df1.csv")
df2.to_csv("df2.csv")

In [49]:
df1

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),14753.0,574.0,574.0,376.0,274.0,277.0,-3.0,37747.0,28854.0,8893.0,...,3.62,324.45,395.1,692.0,31.19,23484.0,3.67,0.0,NaN,0.0
2019/12\n(IFRSÏó∞Í≤∞),15440.0,776.0,776.0,538.0,380.0,380.0,0.0,35273.0,26077.0,9195.0,...,5.81,283.59,411.78,950.0,21.4,24282.0,3.74,350.0,NaN,34.94
2020/03\n(IFRSÏó∞Í≤∞),9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.0,33188.0,24813.0,8375.0,...,1.25,296.28,368.36,-1839.0,63.76,22114.0,3.19,NaN,NaN,0.0
2020/06\n(IFRSÏó∞Í≤∞),5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.0,33039.0,25364.0,7676.0,...,-2.14,330.45,334.46,-1695.0,NaN,20265.0,3.5,NaN,NaN,0.0
2020/09\n(IFRSÏó∞Í≤∞),8795.0,-198.0,-198.0,-366.0,-285.0,-285.0,0.0,32683.0,25318.0,7365.0,...,-3.74,343.77,320.21,-712.0,NaN,19444.0,3.91,NaN,NaN,NaN
2020/12(E)\n(IFRSÏó∞Í≤∞),9980.0,50.0,NaN,-109.0,-100.0,-100.0,NaN,32388.0,25171.0,7216.0,...,NaN,348.79,NaN,-251.0,NaN,19187.0,4.22,NaN,NaN,NaN
2021/03(E)\n(IFRSÏó∞Í≤∞),9761.0,144.0,NaN,14.0,71.0,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,133.0,NaN,NaN,NaN,NaN,NaN,NaN
2021/06(E)\n(IFRSÏó∞Í≤∞),9820.0,265.0,NaN,172.0,214.0,123.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,308.0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df2

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ROA(%),Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)
2019/09\n(IFRSÏó∞Í≤∞),4055.0,1392.0,1392.0,1554.0,1286.0,1286.0,0.0,41698.0,4781.0,36917.0,...,7.2,12.95,3513.86,601.0,21.0,18209.0,1.62,0.0,NaN,0.0
2019/12\n(IFRSÏó∞Í≤∞),3728.0,641.0,641.0,769.0,526.0,526.0,0.0,44381.0,7204.0,37178.0,...,7.72,19.38,3538.24,246.0,18.92,18337.0,1.61,900.0,NaN,346.75
2020/03\n(IFRSÏó∞Í≤∞),2360.0,-1868.0,-1868.0,-2204.0,-1561.0,-1561.0,0.0,43702.0,9945.0,33757.0,...,1.75,29.46,3218.48,-730.0,55.53,16650.0,1.19,NaN,NaN,NaN
2020/06\n(IFRSÏó∞Í≤∞),346.0,-1038.0,-1038.0,-723.0,-456.0,-456.0,0.0,39178.0,5900.0,33277.0,...,-0.5,17.73,3173.64,-213.0,NaN,16414.0,1.31,NaN,NaN,0.0
2020/09\n(IFRSÏó∞Í≤∞),766.0,-649.0,-649.0,-552.0,-409.0,-409.0,0.0,37434.0,4560.0,32875.0,...,-4.8,13.87,3136.0,-191.0,NaN,16215.0,1.33,NaN,NaN,NaN
2020/12(E)\n(IFRSÏó∞Í≤∞),1581.0,-434.0,NaN,-331.0,-465.0,-314.0,NaN,38271.0,5998.0,32274.0,...,NaN,18.58,NaN,-147.0,NaN,15888.0,1.46,NaN,NaN,NaN
2021/03(E)\n(IFRSÏó∞Í≤∞),1473.0,-187.0,NaN,NaN,NaN,-33.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-15.0,NaN,NaN,NaN,NaN,NaN,NaN
2021/06(E)\n(IFRSÏó∞Í≤∞),1746.0,-65.0,NaN,NaN,NaN,135.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN

# 2. Feature Engineering
- ÏïÑÎûò Îç∞Ïù¥ÌÑ∞Î•º Ï∞∏Ï°∞ÌïòÏó¨ 18/19ÎÖÑÎèÑÏóê ÎåÄÌï¥ÏÑú Price to Dream Ratio(PDR)Î•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.

 ## $\rm PDR = {ÏãúÍ∞ÄÏ¥ùÏï° \over Ìï¥Îãπ~Í∏∞ÏóÖÏù¥~Ìè¨Ìï®Îêú~Ï†ÑÏ≤¥~ÏãúÏû•~Í∑úÎ™®(TAM)~\times~ÏãúÏû•Ï†êÏú†Ïú®}$
  - Î≥ÄÏàò Ïù¥Î¶Ñ `df3`Î°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§. ÏïÑÎûòÏôÄ Í∞ôÏùÄ ÌòïÌÉúÏù¥Ïñ¥Ïïº Ìï©ÎãàÎã§. 
  - feature Ïù¥Î¶ÑÏùÄ `PDR`Î°ú, `df3['PDR']`ÏùÑ ÌÜµÌï¥ `~` Í∞íÏù¥ ÌôïÏù∏ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§. 
    - PDRÏóê 100ÏùÑ Í≥±Ìïú Î∞±Î∂ÑÏú®(%)ÏùÑ Íµ¨Ìï©ÎãàÎã§. 

||Íµ¨Î∂Ñ|Ï¢ÖÍ∞Ä|Î∞úÌñâÏ£ºÏãùÏàò|ÏãúÍ∞ÄÏ¥ùÏï°|ÏãúÏû•Ï†êÏú†Ïú®|ÏãúÏû•Í∑úÎ™®|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ÎÖÑ|101500|137292497|13935188445500|62.0|15000000000000|~|
|1|19ÎÖÑ|93800|137292497|12878036218600|63.5|15000000000000|~|

In [75]:
import pandas as pd
import numpy as np

In [74]:
df3 = pd.DataFrame({'Íµ¨Î∂Ñ':['18ÎÖÑ','19ÎÖÑ'],
                    'Ï¢ÖÍ∞Ä':[101500,93800],
                    'Î∞úÌñâÏ£ºÏãùÏàò':[137292497,137292497],
                    'ÏãúÍ∞ÄÏ¥ùÏï°':[13935188445500,12878036218600],
                    'ÏãúÏû•Ï†êÏú†Ïú®':[62.0,63.5],
                    'ÏãúÏû•Í∑úÎ™®':[15000000000000,15000000000000],
                    'PDR':['~','~']
                  })
df3

    Íµ¨Î∂Ñ      Ï¢ÖÍ∞Ä      Î∞úÌñâÏ£ºÏãùÏàò            ÏãúÍ∞ÄÏ¥ùÏï°  ÏãúÏû•Ï†êÏú†Ïú®            ÏãúÏû•Í∑úÎ™® PDR
0  18ÎÖÑ  101500  137292497  13935188445500   62.0  15000000000000   ~
1  19ÎÖÑ   93800  137292497  12878036218600   63.5  15000000000000   ~

In [133]:
df3['PDR'] = (df3['ÏãúÍ∞ÄÏ¥ùÏï°']/(df3['ÏãúÏû•Í∑úÎ™®']*(df3['ÏãúÏû•Ï†êÏú†Ïú®']/100)))*100
df3

    Íµ¨Î∂Ñ      Ï¢ÖÍ∞Ä      Î∞úÌñâÏ£ºÏãùÏàò            ÏãúÍ∞ÄÏ¥ùÏï°  ÏãúÏû•Ï†êÏú†Ïú®            ÏãúÏû•Í∑úÎ™®         PDR
0  18ÎÖÑ  101500  137292497  13935188445500   62.0  15000000000000  149.840736
1  19ÎÖÑ   93800  137292497  12878036218600   63.5  15000000000000  135.202480

# 3. Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞ ÏÇ¥Ìé¥Î≥¥Í∏∞ 

- ÏôÄÏù∏ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§. 

- Í≥µÏãùÎ¨∏ÏÑúÎ•º Ï∞∏Ï°∞ÌïòÏó¨ Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê ÌôïÏù∏Ìï¥ Î¥ÖÎãàÎã§. <br>
  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [109]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving winequality-red.csv to winequality-red (2).csv
Saving winequality-white.csv to winequality-white (1).csv

In [110]:
df_red = pd.read_csv('winequality-red.csv')
df_red.head()

  fixed_acidity;volatile_acidity;citric_acid;residual_sugar;chlorides;free_sulfur_dioxide;total_sulfur-dioxide;density;pH;sulphates;alcohol;quality
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [111]:
df_red = pd.read_csv('winequality-red.csv', sep=';')
df_red.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur-dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [112]:
df_white = pd.read_csv('winequality-white.csv', sep=';')
df_white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [113]:
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur-dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [114]:
df_red.shape

(1599, 12)

In [115]:
df_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         4898 non-null   float64
 1   volatile_acidity      4898 non-null   float64
 2   citric_acid           4898 non-null   float64
 3   residual_sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free_sulfur_dioxide   4898 non-null   float64
 6   total_sulfur_dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [116]:
df_red.duplicated(['fixed_acidity'], keep='first') #  keep = 'first' Ï≤´ Î≤àÏß∏Í∞íÏùÄ False, Îëê Î≤àÏß∏ Í∞íÎ∂ÄÌÑ∞Îäî True Î∞òÌôò

0       False
1       False
2        True
3       False
4        True
        ...
1594     True
1595     True
1596     True
1597     True
1598     True
Length: 1599, dtype: bool

In [128]:
df_red.duplicated(['fixed_acidity'])  #  keep='first'ÏôÄ Í∞ôÏùå

0       False
1       False
2        True
3       False
4        True
        ...
1354     True
1355     True
1356     True
1357     True
1358     True
Length: 1359, dtype: bool

In [117]:
df_red.duplicated(['fixed_acidity'],keep='last') # keep = 'last'  firstÏùò Î∞òÎåÄ

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595     True
1596    False
1597    False
1598    False
Length: 1599, dtype: bool

In [118]:
df_red.duplicated(['fixed_acidity'], keep=False) # keep = False  Ï≤òÏùåÍ≥º ÎÅùÍ≥º Í¥ÄÍ≥ÑÏóÜÏù¥ Ï§ëÎ≥µÏù¥Î©¥ True

0       True
1       True
2       True
3       True
4       True
        ...
1594    True
1595    True
1596    True
1597    True
1598    True
Length: 1599, dtype: bool

In [136]:
df_red.nunique()

fixed_acidity            96
volatile_acidity        143
citric_acid              80
residual_sugar           91
chlorides               153
free_sulfur_dioxide      60
total_sulfur-dioxide    144
density                 436
pH                       89
sulphates                96
alcohol                  65
quality                   6
dtype: int64

In [119]:
df_red.duplicated().sum()

240

In [120]:
df_red = df_red.drop_duplicates()  # Ï§ëÎ≥µÏ†úÍ±∞
df_red.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur-dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [121]:
df_red = df_red.reset_index(drop=True)  # index Ï†ïÎ†¨
df_red.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur-dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [122]:
df_red.shape

(1359, 12)

In [123]:
df_white.shape

(4898, 12)

In [125]:
df_white.duplicated(['fixed_acidity'], keep='first')

0       False
1       False
2       False
3       False
4        True
        ...
4893     True
4894     True
4895     True
4896     True
4897     True
Length: 4898, dtype: bool

In [126]:
df_white.duplicated(['fixed_acidity'], keep='last')

0        True
1        True
2        True
3        True
4        True
        ...
4893    False
4894    False
4895    False
4896    False
4897    False
Length: 4898, dtype: bool

In [127]:
df_white.duplicated(['fixed_acidity'], keep=False)

0       True
1       True
2       True
3       True
4       True
        ...
4893    True
4894    True
4895    True
4896    True
4897    True
Length: 4898, dtype: bool

In [129]:
df_white.duplicated().sum()

937

In [130]:
df_white = df_white.drop_duplicates()
df_white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6

In [131]:
df_white = df_white.reset_index(drop=True)
df_white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6

In [132]:
df_white.shape

(3961, 12)

# üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

## NA Value Handling

- Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨ÏòµÎãàÎã§. 

- 19ÎÖÑÎèÑ 4Î∂ÑÍ∏∞Ïùò ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞) Î∂ÄÎ∂ÑÏùÑ NaÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî

- Ïù¥ÌõÑ Ìï¥Îãπ Í≤∞Ï∏°ÏπòÎ•º mean imputation Î∞©Î≤ïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['Î∂ÑÍ∏∞', 'Îß§Ï∂úÏï°', 'ÏòÅÏóÖÏù¥Ïùµ', 'ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä)', 'ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ',
           'ÎãπÍ∏∞ÏàúÏù¥Ïùµ', 'ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞)', 'ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞)', 'ÏûêÏÇ∞Ï¥ùÍ≥Ñ', 'Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ',
           'ÏûêÎ≥∏Ï¥ùÍ≥Ñ', 'ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÏßÄÎ∞∞)', 'ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÎπÑÏßÄÎ∞∞)', 'ÏûêÎ≥∏Í∏à', 'ÏòÅÏóÖÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ',
           'Ìà¨ÏûêÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ', 'Ïû¨Î¨¥ÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ', 'ÏòÅÏóÖÏù¥ÏùµÎ•†', 'ÏàúÏù¥ÏùµÎ•†', 'ROE(%)',
           'ROA(%)', 'Î∂ÄÏ±ÑÎπÑÏú®', 'ÏûêÎ≥∏Ïú†Î≥¥Ïú®', 'EPS(Ïõê)', 'PER(Î∞∞)']

In [ ]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.

## Feature Engineering

Relative Perfomance ÎùºÎäî ÏÉàÎ°úÏö¥ featureÎ•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.

Ïù¥Îäî ÏµúÍ∑º 1ÎÖÑÏπò Îß§Ï∂úÏï°Ïùò ÌèâÍ∑†Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú 

- 10% Ïù¥ÏÉÅ -> `S`
- 5% Ïù¥ÏÉÅ -> `A`
- -5 ~ 5% -> `B`
- -5%Ïù¥Ìïò -> `C`
- 10%Ïù¥Ìïò -> `D`

ÎùºÎäî Í∞íÏùÑ Í∞ñÎäî featureÏûÖÎãàÎã§.

20ÎÖÑÎèÑ 2Î∂ÑÍ∏∞Ïóê Ìï¥ÎãπÌïòÎäî Í≤∞Í≥ºÍ∞íÏùÄ `A`Í∞Ä ÎÇòÏôÄÏïºÌï©ÎãàÎã§.

Í∞ÅÍ∞ÅÏóê Ìï¥ÎãπÌïòÎäî Îì±Í∏âÏù¥ ÎÇòÏò§Í∏∞ ÏúÑÌï¥ÏÑú ÌïÑÏöîÌïú Îß§Ï∂úÏï°ÏùÑ Ï∂îÍ∞ÄÎ°ú ÏÑúÏà†ÌïòÏÑ∏Ïöî.

In [ ]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.