<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 4*

---

# üìù Assignment

## 1. Dataset Î∂àÎü¨Ïò§Í∏∞
> seaborn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò load_dataset()ÏùÑ ÌôúÏö©Ìï¥ÏÑú iris Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î∂àÎü¨ÏòµÎãàÎã§. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ïù¥Î¶ÑÏùÄ df_irisÎ°ú Ìï©ÎãàÎã§.

In [29]:
import seaborn as sns
import numpy as np
np.random.seed(42)
df_iris = sns.load_dataset('iris')
df_iris.head()
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 2. X Íµ¨ÌïòÍ∏∞
> df_irisÏóêÏÑú sepal_lengthÎßå ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî. Í∑∏Î¶¨Í≥† sepal_length ÏπºÎüºÏùò Ïù¥Î¶ÑÏùÄ xÎ°ú Î∞îÍøâÎãàÎã§

In [15]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [31]:
df_iris = df_iris[['sepal_length']]

In [33]:
df_iris.head()

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

In [35]:
df_iris.rename(columns={'sepal_length':'x'},inplace=True)
df_iris.head()

     x
0  5.1
1  4.9
2  4.7
3  4.6
4  5.0

## 3. Í∏∞Ï¥à ÎØ∏Î∂Ñ

Îã§Ïùå Ìï®ÏàòÎ•º ÎØ∏Î∂ÑÌïú ÎèÑÌï®ÏàòÎ•º Íµ¨Ìïú ÌõÑÏóê num_one Ìï®ÏàòÎ•º ÏôÑÏÑ±ÌïòÏÑ∏Ïöî. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one Ìï®ÏàòÎ•º xÏóê Ï†ÅÏö©Ìïú ÌõÑÏóê derivative_oneÏù¥ÎùºÎäî ÏπºÎüºÏúºÎ°ú df_irisÏóê Ï†ÄÏû•Ìï©ÎãàÎã§. (Hint : df.apply)
- derivative_one ÏπºÎüºÏùò Ìï©ÏùÑ `res1`Ïóê Ï†ÄÏû•Ìï©ÎãàÎã§ (ÏÜåÏàòÏ†ê ÏÑ∏ÏûêÎ¶¨ÍπåÏßÄ)

In [43]:
 ## ÎèÑÌï®Ïàò = f'(x) = 20x^4 + 27x^2 + 2ex
def num_one(x):
   d = 20*x**4 + 27*x**2 + 2*np.exp(1)*x
   return d
df_iris['derivative_one']  =  df_iris['x'].apply(num_one)
df_iris.head()

     x  derivative_one
0  5.1    14260.398475
1  4.9    12204.511162
2  4.7    10381.343849
3  4.6     9551.240193
4  5.0    13202.182818

In [44]:
res1 = df_iris['derivative_one'].sum().round(3)
res1

4077643.108

- Ïù¥Î≤àÏóêÎäî scipyÏùò [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)Î•º ÌôúÏö©ÌïòÏó¨ derivative_two ÏπºÎüºÏúºÎ°ú Ï†ÄÏû•ÌïòÏÑ∏Ïöî.
  - dxÎäî 1e-7Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
- derivative_two ÏπºÎüºÏùò Ìï©ÏùÑ `res2`Ïóê Ï†ÄÏû•Ìï©ÎãàÎã§ (ÏÜåÏàòÏ†ê ÏÑ∏ÏûêÎ¶¨ÍπåÏßÄ)

In [50]:
from scipy.misc import derivative
def f(x):
  s = 4*x**5 + 9*x**3 + 2*np.exp(2)*x -7
  return s 
a = df_iris['x']
df_iris['derivative_two'] = derivative(f, a, dx=1e-7)        ## dx = 1e-7Î°ú ÏßÄÏ†ïÌñàÍ∏∞ ÎïåÎ¨∏Ïóê oneÍ∞íÏù¥Îûë Ï∞®Ïù¥Í∞Ä Î∞úÏÉùÌï®. (ÎØ∏Î∂ÑÎèÑÌï®Ïàò Íµ¨Ìï†Îïå lim(dx=0)Ïù∏Í±∏ ÏÉùÍ∞ÅÌïòÏûê)
df_iris.head()

     x  derivative_one  derivative_two
0  5.1    14260.398475    14247.450144
1  4.9    12204.511162    12192.650147
2  4.7    10381.343849    10370.570135
3  4.6     9551.240193     9541.010140
4  5.0    13202.182818    13189.778147

In [51]:
res2 = df_iris['derivative_two'].sum().round(3)
res2

4075094.689

## 2. ÎØ∏Î∂Ñ Ïó∞Ïäµ
>ÏïÑÎûòÏùò Ìï®ÏàòÎì§ÏùÑ ÎØ∏Î∂ÑÌïú ÌõÑÏóê **x = 5**Ïùº ÎïåÏùò Í≤∞Í≥ºÍ∞íÏùÑ `res3`, `res4`, `res5`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

 $f(x) = e^x$

In [52]:
def e_prime(x):  ## f'(x) = e^x
  result = np.exp(1)*x
  return result
res3 = e_prime(5)
res3

13.591409142295225

$f(x) = lnx$

In [53]:
def ln_prime(x):  ##f'(x) = 1/x
  result = 1/x
  return result
res4 = ln_prime(5)
res4

0.2

$f(x) = (2x^2 + 8x)^2$

In [56]:
def f_prime(x):  ## f'(x) = 2(2x^2 + 8x)(4x+8)
  result = 2*(2*x**2 + 8*x)*(4*x+8)
  return result
res5 = f_prime(5)
res5

5040

## 3. Ìé∏ÎØ∏Î∂Ñ

Ï£ºÏñ¥ÏßÑ `machine learning model`Ïùò `error function` ($\varepsilon$)Ïù¥ Îã§ÏùåÍ≥º Í∞ôÏùÑ Îïå `error function`ÏùÑ **ÏµúÏÜåÌôî** ÌïòÎäî ÏµúÏ†ÅÏùò `parameter`Îì§ÏùÑ  Íµ¨ÌïòÏÑ∏Ïöî. Í∑∏ ÌõÑ Í≤∞Í≥ºÎ•º Í∞ÅÍ∞Å `p1`, `p2`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- Îã® ÏµúÏ†ÅÏùò $p_1$ÏùÄ $p_2$Í∞Ä $3$ÏùºÎïå, ÏµúÏ†ÅÏùò $p_2$Îäî $p_1$Ïù¥ $10$ÏùºÎïåÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ìï©ÎãàÎã§.

In [66]:
# error functionÏù¥ ÏµúÏÜåÌôî ÎêòÎäî Ï†êÏùÄ ÎØ∏Î∂ÑÍ∞í(ÎèÑÌï®ÏàòÏùò Í∞í)Ïù¥ 0Ïù¥ ÎêòÎäî Ï†êÏûÖÎãàÎã§.
from sympy import Symbol, solve   # ÎèÑÌï®Ïàò = 0 Ïù∏ Í∞íÏùÑ Íµ¨ÌïòÍ∏∞ ÏúÑÌï¥ ÏÇ¨Ïö©
x=Symbol('x')

## p1Ïóê ÎåÄÌïú ÎèÑÌï®Ïàò f'(p1) = 2(e*p1 - p2) = 0 Î•º Íµ¨Ìï¥Î≥¥Ïûê ÏµúÏ†ÅÏùò p1 Íµ¨ÌïòÍ∏∞ÏúÑÌï¥ p2 = 3 ÎåÄÏûÖ
def f_prime_p1(x):  
  d = 2*(np.exp(1)*x -3)
  return d
p1 = solve(f_prime_p1(x))[0]   ## solveÎ°ú Íµ¨ÌïúÍ∞íÏù¥ p1Ïóê Î¶¨Ïä§Ìä∏ÌòïÌÉúÎ°ú Ï†ÄÏû•ÎêòÍ∏∞ ÎñÑÎ¨∏Ïóê, Í∞íÎßå Ï†ÄÏû•ÌïòÍ∏∞ÏúÑÌï¥ [0]ÏúºÎ°ú ÎΩëÏïÑÏ§å
print('ÏµúÏ†ÅÏùò p1:',p1)        ##

ÏµúÏ†ÅÏùò p1: 1.10363832351433

In [72]:
## p2Ïóê ÎåÄÌïú ÎèÑÌï®Ïàò f'(p2) = -2(e*p1 - p2) + k2/2  ÏµúÏ†ÅÏùò p2 Íµ¨ÌïòÍ∏∞ÏúÑÌï¥ k2=100, p1=10 ÎåÄÏûÖÌïòÎ©¥, f'(p2) = 2(10e-p2) + 50    
def f_prime_p2(x):
  d = -2*(10*np.exp(1) - x) + 50
  return d
p2 = solve(f_prime_p2(x))[0]
print('ÏµúÏ†ÅÏùò p2:', p2)

ÏµúÏ†ÅÏùò p2: 2.18281828459045

# üî• ÎèÑÏ†ÑÍ≥ºÏ†ú 

Îã§Ïùå Ìï®ÏàòÎ•º ÎØ∏Î∂ÑÌïòÏÑ∏Ïöî. Ïù¥ÌõÑÏóê x = 3Ïùº ÎïåÏùò Í≤∞Í≥ºÎ•º `challenge`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.  
$\sigma(x) = {{1} \over {1 + e^{-x}}}$

In [71]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.
def f(x):
  x = 1/(1+(np.exp(1)**(-x)))
  return x
challenge = derivative(f, 3, dx=1e-7)
challenge

0.045176660190549